!!!
%html
  %head
    %title PDF Builder
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'}
    :css
      @media print {
        h2 {
          page-break-before: always;
        }
      }
  %body
    .container
      %h1= title
      %img{src: 'http://placehold.it/640x480'}
      - questionnaire.each do |section, questions|
        %h2= section
        - questions.each do |question|
          %p= question