!!!
%html
  %head
    %title PDF Builder
    %link{:rel => 'stylesheet', :type => 'text/css', :href => 'https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css'}
  %body
    .container
      = yield :content